@using ASF.Entities
@model IEnumerable<ASF.Entities.Product>
@using GridMvc.Html
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/marco.css" rel="stylesheet" />

@{
    ViewBag.Title = "FindByCookie";
}

<h1>Carrito Activo</h1>


@using (Html.BeginForm("FindByCookie", "Product", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-3">
            @*<button class="btn btn-primary">Buscar</button>*@
        </div>
    </div>
}

@*@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.Title).Sortable(true).Filterable(true).SetWidth(110);
    columns.Add(foo => foo.Description).Sortable(true).Filterable(true);
    columns.Add(foo => foo.Price).Sortable(true).Filterable(true);
    columns.Add()
        .Titled("Cantidad")
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(model => new HtmlString
            (
                "<input type = \"number\" name = \"quantity\">"
            )
        );
}).WithPaging(10)*@

@using (Html.BeginForm("Checkout", "Order", new { Area = "Orders" }, FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
@foreach (var item in Model)
    {
                        <tr data-item-id="@item.Id">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    @*<img class="img-src" src="~/Uploads/@Url.Content(item.Image)" alt="...">*@
                                    <div class="media-body">
                                        <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Title)</h4>
                                        <h5 class="media-heading">@Html.DisplayFor(modelItem => item.Description)</h5>
                                        <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" name="qty_@item.Id" class="form-control cantidad" value="1" min="1" data-item-qty="@item.Id">
                                
                            </td>
                            <td class="col-sm-1 col-md-1 text-center precio">$ <strong  data-item-price="@item.Id"> @Html.DisplayFor(modelItem => item.Price)</strong></td>
                            <td class="col-sm-1 col-md-1 text-center resultado">$ <strong  data-item-total="@item.Id"></strong></td>
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>

}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>$ <span id="total"></span></strong></h3></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>
                                @*<button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </button>*@
                            </td>
                            <td>
                                <button class="btn btn-success">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    }
<script>
    var getTotals = function () {
        var total = 0;
        $("[data-item-id]").each(function () {
            var itemId = $(this).data('item-id');
            var qty = parseFloat($('[data-item-qty=' + itemId + ']').val());
            var price = parseFloat($('[data-item-price="' + itemId + '"]').text().replace(',', '.'));
            total += price * qty;
            $('[data-item-total="' + itemId + '"]').text((price * qty).toFixed(2).replace('.', ','));
        })
        $('#total').text(total.toFixed(2).replace('.', ','));
    };
    getTotals();
    $('.cantidad').on('change', getTotals);

</script>
